
html {
    font-size: 15px; 
    font-family: 'Oswald', sans-serif;
    background-color: rgb(42, 162, 218);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: lightblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px cyan;
  }
p, li {
    color: navy;
    width: 500px;
    /* border: 1px solid black; */
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  h4 {
    color: navy;
    text-decoration: lightseagreen;
    text-align: center;
    text-emphasis: 50px;
  }